TRANSLATION_PROVIDER=openai_compatible
TRANSLATION_API_KEY=PASTE_KEY_HERE
TRANSLATION_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
TRANSLATION_MODEL=PASTE_GEMINI_MODEL_HERE
TRANSLATION_TIMEOUT_SECONDS=180
